.alert-notifications {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.alert-notification-details {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-family: 'roboto';
  font-size: 25px;
  color: #0f172a;
}
.notification-content {
  display: flex;
  align-items: flex-start;
}
.success-icon {
  color: #2dca73;
  font-size: 30px;
  margin-right: 20px;
  margin-top: 10px;
}
.message-container {
  margin-top: 0px;
}
.success-message {
  font-family: 'roboto';
  font-size: 20px;
  color: #2dca73;
}
.message {
  color: #64748b;
  font-family: 'roboto';
  font-size: 15px;
  width: 80%;
}
.error-icon {
  color: #ff0b37;
  font-size: 30px;
  margin-right: 20px;
  margin-top: 10px;
}
.error-message {
  color: #ff0b37;
  font-family: 'roboto';
  font-size: 20px;
}
.warning-icon {
  color: #ffb800;
  font-size: 30px;
  margin-right: 20px;
  margin-top: 10px;
}
.warning-message {
  color: #ffb800;
  font-family: 'roboto';
  font-size: 20px;
}
.info-icon {
  color: #0f81e0;
  font-size: 30px;
  margin-right: 20px;
  margin-top: 10px;
}
.info-message {
  color: #0f81e0;
  font-family: 'roboto';
  font-size: 20px;
}
@media (min-width: 768px) {
  .heading {
    font-size: 50px;
  }
  .message {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
  }
  .success-message {
    font-size: 25px;
  }
  .success-icon {
    margin-top: 15px;
    font-size: 35px;
  }
  .error-icon {
    margin-top: 15px;
    font-size: 35px;
  }
  .warning-icon {
    margin-top: 15px;
    font-size: 35px;
  }
  .info-icon {
    margin-top: 15px;
    font-size: 35px;
  }
  .error-message {
    font-size: 25px;
  }
  .warning-message {
    font-size: 25px;
  }
  .info-message {
    font-size: 25px;
  }
}
